.css {
  padding: 20px;
  background-color: skyblue;
}

.css .title {
  font-size: 20px;
  font-weight: bold;
}

.css .content {
  padding: 20px;
  color: red;
}

.css #cssfoot {
  background-color: green;
}

/* in css modules, use tab css selector will be used in global */

.css p {
  background-color: pink;
}

/* in css modules, use prefix :global can skip the modules check, and then the style will be display in html unmodified*/

:global .global {
  color: 'white'
}

div .div {
  color: 'white'
}